# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
lerna-debug.log*

# Runtime data
*.pid
*.seed
*.pid.lock

# Coverage reports
coverage/
.nyc_output/
*.lcov

# Dependency directories
node_modules/
jspm_packages/
bower_components/

# TypeScript
*.tsbuildinfo

# Caches
.cache/
.rpt2_cache/
.rts2_cache_*/

# Build outputs
dist/

# Optional npm cache directory
.npm

# Test
db.*

# Lockfiles & Integrity
.yarn-integrity
.lock-wscript

# Miscellaneous
.node_repl_history
.tern-port